<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10">
      <div class="pull-right">
        <ul class="nav nav-tabs">

          <li role="presentation" routerLinkActive="active" style="display: flex;"><a (click)="onProfile()">
            <div class="headerOption">
              <img src="https://icons-for-free.com/iconfiles/png/512/linkedin+network+users+icon-1320184664350339756.png" alt="">
            </div>

            Profile</a></li>

          <li role="presentation" routerLinkActive="active" ><a (click)="onExp()">
            <div class="headerOption">
              <img src="https://cdn1.iconfinder.com/data/icons/business-solid-4/64/Business_Case_Stationery_job-512.png" alt="">
            </div>
              Experience</a></li>


          <li role="presentation" routerLinkActive="active" ><a (click)="onEdu()">
            <div class="headerOption">
              <img src="https://www.clipartmax.com/png/middle/19-193869_education-icon-education-icon.png" alt="">
            </div>
            Education</a></li>
          <li role="presentation" routerLinkActive="active" ><a (click)="onSkills()">
            <div class="headerOption">
              <img src="https://www.pngfind.com/pngs/m/675-6758294_skills-png-icon-black-transparent-png.png" alt="">
            </div>
            Skills</a></li>

          <li role="presentation" routerLinkActive="active"><a (click)="logout()">
            <div class="headerOption">
              <img src="https://cdn.icon-icons.com/icons2/2943/PNG/512/logout_icon_184025.png" alt="">
            </div>
            Logout</a></li>

        </ul>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-sm-10 col-xs-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

