<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10">
      <ul class="nav nav-tabs">
        <li role="presentation" routerLinkActive="active"><a [routerLink]="['/profile']">Profile</a></li>

        <li role="presentation" routerLinkActive="active"><a [routerLink]="['/experience']">Experience</a></li>
        <li role="presentation" routerLinkActive="active"><a [routerLink]="['/education']">Education</a></li>
        <li role="presentation" routerLinkActive="active"><a [routerLink]="['/skills']">Skills</a></li>

        <li role="presentation" routerLinkActive="active"><a (click)="logout()">Logout</a></li>
      </ul>

    </div>
  </div>

  <div class="row">
    <div class="col-sm-10 col-xs-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>



<!--<div class="header">-->
<!--  <div class="header_left">-->
<!--    <img src="https://upload.wikimedia.org/wikipedia/commons/c/ca/LinkedIn_logo_initials.png" alt="">-->
<!--    <div class="header_search">-->
<!--      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT640YRR5hl5fb1FjPd9_-BGO3mVFM3EpSpHg&usqp=CAU" alt="">-->
<!--      <input type="text">-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="header_right">-->

<!--    <div class="headerOption" >-->
<!--      <h3>Experience</h3>-->
<!--    </div>-->

<!--    <div class="headerOption">-->
<!--      <h3>Education</h3>-->
<!--    </div>-->

<!--    <div class="headerOption">-->
<!--      <h3>Skills</h3>-->
<!--    </div>-->

<!--    <div class="headerOption" >-->
<!--      <h3 (click)="userLogout()">Logout-->
<!--      </h3>-->
<!--    </div>-->



<!--    &lt;!&ndash;    <div class="headerOption">&ndash;&gt;-->
<!--&lt;!&ndash;      <img src="https://brandeps.com/icon-download/H/Home-icon-vector-02.svg" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;      <h3>Home</h3>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="headerOption">&ndash;&gt;-->
<!--&lt;!&ndash;      <img src="https://icons-for-free.com/iconfiles/png/512/linkedin+network+users+icon-1320184664350339756.png" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;      <h3>My Network</h3>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="headerOption">&ndash;&gt;-->
<!--&lt;!&ndash;      <img src="https://cdn1.iconfinder.com/data/icons/business-solid-4/64/Business_Case_Stationery_job-512.png" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;      <h3>Jobs</h3>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="headerOption">&ndash;&gt;-->
<!--&lt;!&ndash;      <img src="https://cdn4.iconfinder.com/data/icons/proglyphs-mailing-and-messaging/512/Chat_Active-512.png" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;      <h3>Messaging</h3>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="headerOption">&ndash;&gt;-->
<!--&lt;!&ndash;      <img src="https://icons.veryicon.com/png/o/miscellaneous/erp-icon/notifications-6.png" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;      <h3>Notifications</h3>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="headerOption">&ndash;&gt;-->
<!--&lt;!&ndash;      <img src="https://us.123rf.com/450wm/tuktukdesign/tuktukdesign1608/tuktukdesign160800057/61010892-user-icon-man-profile-businessman-avatar-person-glyph-vector-illustration.jpg?ver=6" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;      <h3>Me</h3>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--  </div>-->
<!--</div>-->

<!--<div class="row">-->
<!--  <div class="col-xs-12">-->
<!--    <app-profile></app-profile>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="row">-->
<!--  <div class="col-xs-12">-->
<!--    <app-experience></app-experience>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="row">-->
<!--  <div class="col-xs-12">-->
<!--    <app-education></app-education>-->
<!--  </div>-->
<!--</div>-->


<!--<div class="row">-->
<!--  <div class="col-xs-12">-->
<!--    <app-skills></app-skills>-->
<!--  </div>-->
<!--</div>-->
