<div class="header">
  <div class="header_left">
    <img src="https://upload.wikimedia.org/wikipedia/commons/c/ca/LinkedIn_logo_initials.png" alt="">
    <div class="header_search">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT640YRR5hl5fb1FjPd9_-BGO3mVFM3EpSpHg&usqp=CAU" alt="">
      <input type="text">
    </div>
  </div>

  <div class="header_right">

    <div class="headerOption">
      <img src="https://brandeps.com/icon-download/H/Home-icon-vector-02.svg" alt="">
      <h3>Home</h3>
    </div>
    <div class="headerOption">
      <img src="https://icons-for-free.com/iconfiles/png/512/linkedin+network+users+icon-1320184664350339756.png" alt="">
      <h3>My Network</h3>
    </div>
    <div class="headerOption">
      <img src="https://cdn1.iconfinder.com/data/icons/business-solid-4/64/Business_Case_Stationery_job-512.png" alt="">
      <h3>Jobs</h3>
    </div>
    <div class="headerOption">
      <img src="https://cdn4.iconfinder.com/data/icons/proglyphs-mailing-and-messaging/512/Chat_Active-512.png" alt="">
      <h3>Messaging</h3>
    </div>
    <div class="headerOption">
      <img src="https://icons.veryicon.com/png/o/miscellaneous/erp-icon/notifications-6.png" alt="">
      <h3>Notifications</h3>
    </div>
    <div class="headerOption">
      <img src="https://us.123rf.com/450wm/tuktukdesign/tuktukdesign1608/tuktukdesign160800057/61010892-user-icon-man-profile-businessman-avatar-person-glyph-vector-illustration.jpg?ver=6" alt="">
      <h3>Me</h3>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <app-profile></app-profile>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <app-experience></app-experience>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <app-education></app-education>
  </div>
</div>


<div class="row">
  <div class="col-xs-12">
    <app-skills></app-skills>
  </div>
</div>
