
<div class="row">
  <div class="col-xs-12">
    <div class="container" style="border: 1px solid black;
   width: 900px;
  margin-top: 30px;
  margin-left: 170px;
  background-color: white;
border-radius: 10px;" >

      <div class="pull-left">
        <img src="https://cdn1.iconfinder.com/data/icons/avatars-1-5/136/60-512.png" class="img-responsive" style="display: block;
        height: 200px;">
        <h2 style="margin-left: 5px; color: black; font-weight: bold;">{{profile.name}}</h2>
        <h4>{{profile.title}}</h4>
        <h5>{{profile.location}}</h5>
      </div>
      <div class="pull-right">
        <br>
        <button type="submit" (click)="createProfile()">
          <img src="https://cdn1.iconfinder.com/data/icons/basic-ui-7/100/Artboard_17-512.png"
               class="img-responsive" id="addS">
        </button>

        <button type="submit" (click)="updateProfile()">
          <img src="https://i.pinimg.com/564x/e4/47/e4/e447e462eff03304a902f15681754441.jpg"
               class="img-responsive" id="addS">
        </button>
      </div>

    </div>

    <div class="container" style="border: 1px solid black;
  margin-top: 10px;
 width: 900px;
  margin-left: 170px;
  background-color: white;
border-radius: 10px;
  padding: 20px">
      <p>{{profile.about}}</p>
    </div>
    </div>
</div>
